*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
.containerheader_link{

}
.containermain_image{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	left: 25%;
	top: 15vh;
}
.containermain_titulo{
	font-family: 'Pacifico', cursive;
	position: relative;
	left: 30%;
	bottom: 70px;	
	font-size: 60px;
	font-style: italic;
	font-weight: 10;
	color: #27B9FF;
	display: inline;
}
.containermain_subtitulo{
	position: relative;
	left: 20%; 
	bottom: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 25px;
	font-weight: 10;	
	display: inline;
}
.containermain_paragrafo{
	display: inline-block;
	width: 300px;
	height: 100px;
	position: relative;
	top: 90px;
	left: 70px;
	font-family: 'Rajdhani', sans-serif;
}
.containerfooter_facebook{
	width: 25px;
	height: 25px;
	position: relative;
	top: 150px;
	left: 30%;
}
.containerfooter_instagram, .containerfooter_github, .containerfooter_linkedin{
	width: 40px;
	height: 40px;
	position: relative;
	top: 158px;
	left: 30%;
}
.containerheader_link{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	position: relative;
	left: 90%;
	top: 10px;
}
